{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Touch Gestures Prototype</title>

	<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static '/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />

	<script src="{% static '/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static '/vendors/jquery-ui/jquery-ui.min.js' %}"></script>
	<script src="{% static '/vendors/hammer/hammer.min.js' %}"></script>
	<script src="{% static '/vendors/hammer/jquery.hammer.js' %}"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="viewport" content="width=device-width, user-scalable=no" />

	<style type="text/css">
		body {
			margin:0;
			padding:0;
		}

		.box-container {
			display: flex;
			flex-wrap: wrap;
		}

		.large-box {
			width: 100%;
			height: 300px;
			background: #0d124a;
			padding: 5px;
			margin: 0 10px 10px 0;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.small-box {
			width: 100px;
			height: 100px;
			background: #7ce6df;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.action-complete {
			background: #ffffff;
		}
	</style>

</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<h3>Task 4</h3>
				<div class="box-container">
					<div class="large-box">
						<div class="small-box" id="rotate-box">Rotate</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="pinch-box">Pinch</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="press-box">Press</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="pan-box">Pan</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="tap-box">Tap</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="swipe-box">Swipe</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
	  // your solution here
    //hammertime.get('pinch').set({ enable: true });
    //hammertime.get('rotate').set({ enable: true });
    //ROTATE
    var rotateBox = document.getElementById('rotate-box');
    var action1 = new Hammer.Manager(rotateBox);
    var rotate = new Hammer.Rotate();
    action1.add([rotate]);
    action1.get('rotate').set({enable: true}); 
    
    action1.on("rotate", function() {
      document.getElementById('rotate-box').style.transform = "rotate(180deg)"; 
    });
    
    
    //PINCH
    var pinchBox = document.getElementById('pinch-box');
    var action2 = new Hammer.Manager(pinchBox);
    var pinch = new Hammer.Pinch();
    action2.add([pinch]);
    action2.get('pinch').set({enable: true}); 
    
    action2.on("pinch", function() {
      document.getElementById('pinch-box').style.transform = "scale(2.5)"; 
    });
    
    
    //PRESS
    var press = document.getElementById('press-box');
    var action3 = new Hammer(press);
    
    action3.on("press", function() {
      document.getElementById('press-box').style.backgroundColor = "#ffff99"; 
    });
    
    //PAN
    var pan = document.getElementById('pan-box');
    var action4 = new Hammer(pan);
    
    action4.get('pan').set({direction: Hammer.DIRECTION_ALL});
    action4.on("panleft panright panup pandown", function() {
       
      document.getElementById('pan-box').style.backgroundColor = "#ff6666"; 
     
    }); 
    
    //TAP
    var tap = document.getElementById('tap-box');
    var action5 = new Hammer(tap);
    
    action5.on("tap", function() {
      document.getElementById('tap-box').style.backgroundColor = "white"; 
    });
    
    //SWIPE
    /*var swipeBox = document.getElementById('swipe-box');
    var action6 = new Hammer.Manager(swipeBox);
    var swipe = new Hammer.Swipe();
    
    action6.add(swipe);
    
    action6.get('swipe').set({direction: Hammer.DIRECTION_ALL});
    action6.on("swipeleft", function() {
       $(swipeBox).animate({left: "-=100"}, 500) 
    }); 
    action6.on("swiperight", function() {
       $(swipeBox).animate({left: "+=100"}, 500) 
    }); */
    
    
     
    
  
    
    
  </script>
</body>
</html>
